<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eduportal Web Load.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7100DD671FC43FB2007CA4F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7100DD7B1FC43FB2007CA4F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7100DD861FC43FB2007CA4F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
